
.navBar { 
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ab8b8b;
    
}

.cardContainer {
    background-color: rgb(237, 245, 248);
    border: rgb(46, 65, 193)  solid 1px;
    display: grid;
    text-overflow: ellipsis;
    justify-content: center;
    grid-template-columns: repeat(
        auto-fit
        minmax(
            150px,
            1fr
            )
            );
    
            overflow: auto;

};


.card {
   width: 16010px;
   height: 160px;
   border: 5px solid red;
   align-items: center;
   box-sizing: border-box;
   
}

.artricle {
    font-size: 40px;
}