
.navBar { 
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ab8b8b;
    
}

#container {
    margin: 20px;
    background-color: rgb(237, 245, 248);
    border: rgb(46, 65, 193)  solid 1px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr; 
    flex-direction: row;
    text-overflow: ellipsis;
    justify-content: space-around;
    flex-wrap: wrap;

};


.theCard {
  display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
   border: 5px solid rgb(96, 163, 24);
   align-items: center;
   box-sizing: border-box;
   justify-content:center ;
   
} 

.artricle {
    font-size: 40px;
} 

.img {
  height: 200px;
  width: 200px;
}

@media (max-width: 768px) {
    .card {
        width: 100%;
    }
}